    * {
        margin: 0%;
        padding: 0%;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .loop {
        width: 100vw;
        height: 100vh;
        background-color: #a188ea;
        position: fixed;
    }
    
    .loop1 {
        width: 20rem;
        height: 19rem;
        background-color: #9578cf;
        margin: auto;
        padding: auto;
        margin-top: 7rem;
    }
    
    .firstline {
        height: 3rem;
        border-left: 2px solid #fff;
        margin-left: 2rem;
    }
    
    .first {
        width: 18rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .head1 {
        width: 1.5rem;
        height: 1.5rem;
        background-color: #fff;
        border-radius: 50%;
        margin-left: 1.4rem;
        display: flex;
    }
    
    .photo {
        width: 1rem;
        height: 1rem;
        justify-content: center;
        align-items: center;
        margin-top: .2em;
        margin-left: .2em;
    }
    
    .photo1 {
        font-size: .9em;
        font-weight: 500;
        color: #fff;
        margin-left: 1rem;
    }
    
    .second {
        width: 20rem;
        height: 9rem;
        background-color: #5f5280;
        margin-top: 1rem;
    }
    
    .line1 {
        height: 1.5rem;
        border-left: 2px solid #afa9c0;
        margin-left: 2rem;
    }
    
    .nextline {
        width: 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 1.8rem;
        /* margin-top: .5rem; */
    }
    
    .nextline,
    .nextline1,
    .nextline2:hover {
        cursor: pointer;
    }
    
    .round1 {
        width: .5rem;
        height: .5rem;
        background-color: #fff;
        border-radius: 50%;
    }
    
    .holiday {
        font-size: .8em;
        color: #fff;
        font-weight: 500;
    }
    
    .line2 {
        height: 1.1rem;
        border-left: 2px solid #afa9c0;
        margin-left: 2rem;
        /* margin-top: .5rem; */
    }
    
    .nextline1 {
        width: 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 1.8rem;
        /* margin-top: .5rem; */
    }
    
    .round2 {
        width: .5rem;
        height: .5rem;
        background-color: #fff;
        border-radius: 50%;
    }
    
    .berlin {
        font-size: .8em;
        color: #fff;
        font-weight: 500;
        margin-bottom: .3rem;
        margin-right: 1rem;
    }
    
    .line3 {
        height: 1.1rem;
        border-left: 2px solid #afa9c0;
        margin-left: 2rem;
        /* margin-top: .5rem; */
    }
    
    .nextline2 {
        width: 9rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 1.8rem;
        /* margin-top: .5rem; */
    }
    
    .round3 {
        width: .5rem;
        height: .5rem;
        background-color: #fff;
        border-radius: 50%;
    }
    
    .summer {
        font-size: .8em;
        color: #fff;
        font-weight: 500;
        margin-bottom: .3rem;
        margin-right: 1rem;
    }
    
    .line4 {
        height: 1.5rem;
        border-left: 2px solid #afa9c0;
        margin-left: 2rem;
    }
    
    .line5 {
        height: 1.4rem;
        border-left: 2px solid #fff;
        margin-left: 2rem;
    }
    
    .line6 {
        height: 1.5rem;
        border-left: 2px solid #fff;
        margin-left: 2rem;
    }
    
    .lastline {
        width: 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 1.3rem;
    }
    
    .file {
        width: 1.5rem;
        height: 1.5rem;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
    }
    
    .last {
        display: flex;
        flex-direction: column;
    }
    
    .folder {
        width: .9rem;
        height: .9rem;
        margin-left: .3rem;
        margin-top: .3rem;
    }
    
    .files {
        font-size: .8em;
        color: #fff;
        font-weight: 500;
        margin-bottom: .3rem;
        margin-right: 1rem;
    }